<div class="container">
  <%= label_tag :title, t('.title', :name => @keyword.name), class: 'title' %>
  <hr>
  <%= render 'layouts/flash_messages' %>
</div>
<div class="container">
  <div class="mb-3">
    <%= search_form_for @q, url: url_for(action: :show) do |f| %>
    <%= f.select :engine_eq, Ad.engines.map{ |k, v| [Ad.engines_i18n[k], v] },
      { selected: @q.engine_eq, prompt: t('activerecord.attributes.ad.engine') },
      { class: 'form-control form-control-sm align-top w-10 d-inline-block' } %>
    <%= f.text_field :url_cont, class: 'form-control form-control-sm w-15 d-inline-block', placeholder: t('activerecord.attributes.ad.url') %>
    <%= f.text_field :name_cont, class: 'form-control form-control-sm w-15 d-inline-block', placeholder: t('activerecord.attributes.ad.name') %>
    <%= f.submit t('label.Search'), class: 'btn btn-sm btn-info align-top' %>
    <a class="btn btn-sm btn-light btn-clear align-top" href="#"><%= t('label.Clear') %></a>
    <% end %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="w-20"><%= sort_link(@q, :engine, t('.engine')) %></th>
        <th class="w-40"><%= sort_link(@q, :url, t('.url')) %></th>
        <th class="w-40"><%= sort_link(@q, :name, t('.name')) %></th>
      </tr>
    </thead>
    <tbody>
      <% @ads.each do |ad| %>
      <tr>
        <td class="text-center">
          <%= ad.engine_i18n %>
        </td>
        <td class="align-middle">
          <%= ad.domain %>
        </td>
        <td class="align-middle">
          <%= link_to ad.name, ad.url, target: :_blank %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= paginate @ads %>
  </div>
</div>